.moveup-1 {
  -webkit-animation: slide-out-bck-top-1 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-1 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}
.moveup-2 {
  -webkit-animation: slide-out-bck-to-2 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-2 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}
.moveup-3 {
  -webkit-animation: slide-out-bck-to-3 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-3 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}
.moveup-4 {
  -webkit-animation: slide-out-bck-to-4 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-4 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}
.moveup-5 {
  -webkit-animation: slide-out-bck-top-5 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-5 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}
.moveup-6 {
  -webkit-animation: slide-out-bck-top-6 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-6 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}

.moveup-7 {
  -webkit-animation: slide-out-bck-top-7 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-7 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}
.moveup-8 {
  -webkit-animation: slide-out-bck-top-8 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-8 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}
.moveup-9 {
  -webkit-animation: slide-out-bck-top-9 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;

  animation: slide-out-bck-top-9 20s cubic-bezier(0.23, 1, 0.32, 1) 0.5s infinite both;
}

@keyframes slide-out-bck-top-1 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  5% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  15% {
    -webkit-transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  20% {
    -webkit-transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}

@keyframes slide-out-bck-top-2 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  15% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  25% {
    -webkit-transform: translateY(-200px) translateX(100px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(100px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  30% {
    -webkit-transform: translateY(-300px) translateX(150px) scaleY(0.5) scaleX(0.5);
    transform: translateY(-300px) translateX(150px) scaleY(0.5) scaleX(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-1000px) translateX(500px) scaleY(0) scaleX(0);
    transform: translateY(-1000px) translateX(500px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}

@keyframes slide-out-bck-top-3 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  25% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  35% {
    -webkit-transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}

@keyframes slide-out-bck-top-4 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  30% {
    -webkit-transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  35% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  45% {
    -webkit-transform: translateY(-200px) translateX(100px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(100px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(-300px) translateX(150px) scaleY(0.5) scaleX(0.5);
    transform: translateY(-300px) translateX(150px) scaleY(0.5) scaleX(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-1000px) translateX(300px) scaleY(0) scaleX(0);
    transform: translateY(-1000px) translateX(300px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}

@keyframes slide-out-bck-top-5 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  40% {
    -webkit-transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  50% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  60% {
    -webkit-transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}
// animate 7

@keyframes slide-out-bck-top-6 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  55% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  65% {
    -webkit-transform: translateY(-200px) translateX(10px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(100px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  70% {
    -webkit-transform: translateY(-300px) translateX(150px) scaleY(0.5) scaleX(0.5);
    transform: translateY(-300px) translateX(150px) scaleY(0.5) scaleX(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-1000px) translateX(400px) scaleY(0) scaleX(0);
    transform: translateY(-1000px) translateX(400px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}

@keyframes slide-out-bck-top-7 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  60% {
    -webkit-transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  65% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  70% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  75% {
    -webkit-transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  80% {
    -webkit-transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}

@keyframes slide-out-bck-top-8 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  70% {
    -webkit-transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  75% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  85% {
    -webkit-transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }

  90% {
    -webkit-transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    transform: translateY(-300px) translateX(25px) scaleY(0.5) scaleX(0.5);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    transform: translateY(-1000px) translateX(0px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}

@keyframes slide-out-bck-top-9 {
  0% {
    -webkit-transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(800px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    transform: translateY(300px) translateX(-150px) scaleY(0.25) scaleX(0.25);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  85% {
    -webkit-transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    transform: translateY(0px) translateX(0px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  90% {
    -webkit-transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    transform: translateY(-100px) translateX(75px) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  95% {
    -webkit-transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    transform: translateY(-200px) translateX(50px) scaleY(0.75) scaleX(0.75);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: translateY(-250px) translateX(0px) scaleY(0) scaleX(0);
    transform: translateY(-250px) translateX(0px) scaleY(0) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 0;
  }
}
