main {
  overflow-x: hidden;
  display: flex;
}
.background0 {
  background: linear-gradient(146.66deg, #8080ff -0.54%, #ab6af5 80.16%);
  color: white;
}

.background1 {
  background: linear-gradient(136.78deg, #c83ccf 9.11%, #f9a483 90.11%);
}
.background2 {
  background: linear-gradient(304.71deg, #f7c954 -3.07%, #53cd25 92.67%);
}
.background3 {
  background: linear-gradient(137.46deg, #8080ff -7.12%, #ab6af5 76.07%);
}
.card {
  box-shadow: 0px 3.60556px 54.0833px rgba(194, 206, 228, 0.45);
  backdrop-filter: blur(28.8444px);
}
.dark .card {
  box-shadow: none;
}

.social section {
  //   min-width: 50vw;
  //   min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

// .social section:nth-child(1) {
// margin-left: 10vw;

//   }

.swiper {
  width: 100%;
  height: 100%;
  padding-top: 40px !important;
  padding-bottom: 70px !important;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  background: none !important;
}

.swiper-pagination {
  bottom: 0px;
}
