.memory main {
  overflow-x: hidden;
  display: flex;
}

.memory section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
}

.footer-image {
  background-image: url("../../../images/footer.png");
  width: 100%;
  object-fit: cover;

  /* Center and scale the image nicely */
  background-position: bottom;
  background-repeat: no-repeat;
}
.min-height-345 {
  min-height: 345px;
}

.bubble {
  border-radius: 50%;
  background-color: white;
  border: solid 1px black;
  text-align: center;
}

hr.footer {
  border-top: 1px solid black;
}

.about-hero-image {
  background-image: url("../../../images/hero-about.png");
  min-height: 100vh;
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-position: right;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
