.bg-career {
  background-image: url("../../../images/bgcareer.png");
  background-position: bottom 0px center;
}

/* .bg-career2 {
  background-image: url("../../images/bgcareer2.png");
  background-position: 25% 75%;
} */
